* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hero-section {
  height: 100vh;
  background: url("../images/cinema.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
.hero-title {
  margin-left: 35vw;
}
.hero-title > h1 {
  color: white;
  font-size: 76px;
  padding-bottom: 5vh;
}
.btn-link {
  padding: 15px;
  background-color: lightblue;
  color: grey;
  border-radius: 100px;
  font-size: 20px;
}
.movies-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15vw;
}
.movie {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.movie-link,
h2 {
  text-align: center;
}
.btn-link:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}
